* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  /* rgb(39, 39, 39) */
body {background-color: rgb(255, 255, 255);}
.game-box {
    color: rgb(37, 37, 37);
    margin: 20px auto auto auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.452);
}   
.game-item {
    border: 1px solid rgb(170, 170, 170);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 5rem;
}
.game-item:hover {
    cursor: pointer;
}
.hclaro-item:hover {
    background-color: rgb(230, 230, 230);
}
.hescuro-item:hover {
    background-color: rgb(29, 29, 29);
}

/* BOTOES */
.temaclaro {
    border: 1px solid rgb(255, 255, 255);
}
.temaclaro:hover {
    border: 1px solid rgb(0, 0, 0);
}
.temaescuro {
    border: 1px solid rgb(39, 39, 39);
}
.temaescuro:hover {
    border: 1px solid #fff;
}
.boxcontrols {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    padding: 10px 15px 10px 10px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.452);
    color: rgb(0, 0, 0);
    top: 20px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.boxcontrols span:first-child {
    padding: 10px;
    font-size: 1.3rem;
    margin: auto;
}

.botao-comecar {
    padding: 10px;
}
.botao-comecar i {
    padding: 3px;
    border-radius: 3px;
}
.botao-comecar i:hover {
    cursor: pointer;
}
.mostrarvez {
    padding: 10px;
    display: none;
}
.botao-reiniciar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.botao-reiniciar:hover {
    cursor: pointer;
}
.botao-tema {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.botao-tema:hover {
    cursor: pointer;
}
.botao-tema > i {
    margin: 0 5px
}
.creditos {
    font-size: 0.9rem;
    padding: 5px;
    display: flex;
    align-items: center;
}
.creditos i {
    margin-right: 8px;
}